@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap');
@import url('https://fonts.cdnfonts.com/css/pixel-gaming');
@import url('https://fonts.cdnfonts.com/css/thegoodmonolith');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.timer {
  font-size: 5rem;
  font-weight: bold;
  font-family: 'TheGoodMonolith', sans-serif;
  color: black;
  border-radius: 50%;
  border: 5px solid white;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: #E8CCBF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  
}

.timer::before {
  content: "";
  position: absolute;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border-radius: 50%;
  border: 1px solid #fff;
}
#timer {
    position: fixed;
    top: 10px;
    right: 40px;
    font-size: 45px;
    font-weight: bold;
    top: 3%;

    } 



body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
    background-color: orange;
}

/* .puntaje {
    
    
    color: #8B1E3F;
    font-family: 'Hind', sans-serif; 
    font-size: 20px;
    font-style: italic;
    
  }  */


  .question{
    font-family: 'TheGoodMonolith', sans-serif;
    top: 30%;
  }
 

.wrapper{
position: absolute;

  padding: 20px;
  border-radius: 10px;
  background: #E8CCBF;
  margin-top: 50px;


}
.header {
   
    max-width: 800px;
    margin: auto;
    height: 155px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    color: black ;
  }

  
.title{
    position: absolute;
    top: 0%;
    font-weight: 200;
    font-family: 'Pixel Gaming', sans-serif;
    font-size: 65px;
    display: flex;
    justify-content: center;
    align-items: center;

}


  .header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .title {
    top: 0;
    font-weight: 200;
    font-family: 'Pixel Gaming', sans-serif;
    font-size: 65px;
    margin: 0;
  }
  
  .question {
    font-family: 'TheGoodMonolith', sans-serif;
    font-size: 30px;
    font-weight: 400;
    margin: 10px 0;
  }
  
  /* .puntaje {
    font-family: 'Hind', sans-serif;
    font-size: 20px;
   font-style: italic;
    color: #8B1E3F;
    margin: 0;
    text-align: center;
  } */


.cards, .card, .view{
  display: flex;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
}
.cards{
  height: 500px;
  width: 500px;
  flex-wrap: wrap;
  justify-content: space-between;
  
}
.cards .card{
  cursor: pointer;
  list-style: none;
  user-select: none;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  height: calc(100% / 4 - 10px);
  width: calc(100% / 4 - 10px);
  border: 4px solid #000000;
  border-radius: 10px;
}
.card.shake{
  animation: shake 0.20s ease-in-out;
}



button {
   
    border: none;
    border-radius: 0.3em;
    padding: 1em 1.5em;
    cursor: pointer;
  }

  /* #start {

    font-size: 1.1em;
    display: block;
    margin: 1.1em auto 0 auto;
    background-color: #000000;
    color: #ffffff;
  } */

  #start {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000000;
    font-family: 'Pixel Gaming', sans-serif;
    color: #ffffff;
    font-size: 20px;
    
  }



  .controls-container button {
    font-size: 1.3em;
    box-shadow: 0 0.6em 2em rgba(86, 66, 0, 0.2);
  }
  .game-container {
    position: relative;
    width: 100%;
    display: grid;
    gap: 0.6em;
  }
  .stats-container {
    text-align: right;
    margin-bottom: 1.2em;
  }
  .stats-container span {
    font-weight: 600;
  }
 
  

/* again */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }
  
  .main-content {
    flex: 1;
  }
  
  .header {
    height: 155px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .title {
    font-weight: 200;
    font-family: 'Pixel Gaming', sans-serif;
    font-size: 65px;
    margin: 0;
  }
  
  .question {
    font-family: 'TheGoodMonolith', sans-serif;
    font-size: 30px;
    font-weight: 400;
    margin: 10px 0;
  }
  
  /* .puntaje {
    font-family: 'Hind', sans-serif;
    font-size: 20px;
    font-style: italic;
    color: #8B1E3F;
    margin: 0;
    text-align: center;
  }  */

  .cuadroPuntaje {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E8CCBF;
    padding: 10px;
    border-radius: 4px;
    margin: 10px;
    font-size: 30px;
    font-family: 'TheGoodMonolith', sans-serif;;
    position: absolute;
    left: 60px;
    top: 5%;
  }
  
  .cuadroPuntaje div {
    margin: 10px;
    
    
  }
  
  #score {
    font-weight: bold;
    
  }
  
  .punto {
    
    font-size: 40px;
  }

  
@keyframes shake {
  0%, 100%{
    transform: translateX(0);
  }
  20%{
    transform: translateX(-13px);
  }
  40%{
    transform: translateX(13px);
  }
  60%{
    transform: translateX(-8px);
  }
  80%{
    transform: translateX(8px);
  }
}
.card .view{
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 7px;
  background: #fff;
  pointer-events: none;
  backface-visibility: hidden;

  transition: transform 0.25s linear;
}
.card .front-view img{
  width: 100%;
  border-radius: 10px;
}
.card .back-view img{
  max-width: 70px;
 
}
.card .back-view{
  transform: rotateY(-180deg);
  
}
.card.flip .back-view{
  transform: rotateY(0);
}
.card.flip .front-view{
  transform: rotateY(180deg);
}
@media screen and (max-width: 700px) {
  .cards{
    height: 350px;
    width: 350px;
  }
  .card .front-view img{
    width: 17px;
  }
  .card .back-view img{
    max-width: 40px;
  }
}

  
@media screen and (max-width: 530px) {
  .cards{
    height: 300px;
    width: 300px;
  }
  .card .front-view img{
    width: 15px;
  }
  .card .back-view img{
    max-width: 35px;
  }
}

/* Styles for screens larger than 768px */
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  /* Stylesfor screens smaller than 768px */
  @media screen and (max-width: 768px) {
    .container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  /* Styles for screens smaller than 480px */
  @media screen and (max-width: 480px) {
    .container {
      grid-template-columns: 1fr;
    }
  }

  /* prueba */

  /* Styles for screens larger than 768px */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .score,
  .timer {
    font-size: 2rem;
  }
  
  /* Styles for screens smaller than 768px */
  @media screen and (max-width: 768px) {
    header {
      flex-direction: column;
      align-items: flex-start;
    }
    
    .score,
    .timer {
      font-size: 1.5rem;
      margin-top: 1rem;
    }
  }